<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993259255188-0q27klmqjn0e7fgc40vp31romegvlsmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993259255188-0q27klmqjn0e7fgc40vp31romegvlsmf</string>
	<key>API_KEY</key>
	<string>AIzaSyCl1GMY0zLQ-b7591vGNJ2K5Zue7e_dWaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>993259255188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoonjong.SpotifyLogin</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-6a757</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-6a757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993259255188:ios:b78aea84a00f668c624b81</string>
</dict>
</plist>